html.mobile .bootstrap_scope .list-group {
    margin-bottom: 0;
}

html.mobile .bootstrap_scope .list-group-item > .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    float: none;
    margin: 0;
}

html.mobile .bootstrap_scope .list-group-item h4 {
    cursor: pointer;
    display: inline-block;
}